{% extends 'App1/padre.html' %}
{% load static %}
{% block main %}
<h1 style="text-align: center;">Acerca De Mi</h1>
<div style="text-align: center;" ><img src="/media/yo.jpg" alt="" width="200px" ></div>
<p style="margin: 10px;"> Hola mi nombre es Leonardo Cordoba, tengo 24 años y soy el creador de esta pagina.
Actualmente trabajo para Claro pero en un sector muy diferente a lo que es programacion.
Esta web nacio de un Proyecto para un curso pero me insipiro para crear una pagina para venta de celulares.
Mi objetivo es que la pagina sea interactiva, simple y facil de usar para el usuario de cualquier edad.
En el futuro espero poder dedicarme a trabajar en el mundo de la programacion, siempre capacitandome constantemente.
Espero que disfrutes mi pagina asi como yo disfrute cada momento al crearla. GRACIAS!!
 </p>

{% endblock %}
